.button {
  display: block;
  box-sizing: border-box;

  padding: 0;
  border: 2px solid #828282;

  font-size: 17px;
  line-height: 20px;
  color: $font-light-black;
  text-transform: uppercase;
  text-align: center;
  /* Временно для сетки */
  min-height: 52px;
}
