.catalog-links {
  font-size: 19px;
  color: $font-white;
  background-color: #f9f9f9;
  /* Временно для сетки */
  background-color: transparent;
}

.catalog-links__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* Временно для сетки */
  min-height: 206px;
}

.catalog-links__list-item--interior-features {
  background-color: $bg-light-aquamarine;
}

.catalog-links__list-item--toys {
  background-color: $bg-dark-aquamarine;
}


@media(max-width: $tablet-width - 1) {
  .catalog-links__list {
    width: $mobile-width;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog-links__list {
    flex-direction: row;
    /* Временно для сетки */
    min-height: 136px;
  }
}
