.catalog-links {
  font-size: 19px;
  color: $font-white;
}

.catalog-links__list-item--interior-features {
  background-color: $bg-light-aquamarine;
}

.catalog-links__list-item--toys {
  background-color: $bg-dark-aquamarine;
}
