.catalog-links {
  font-size: 19px;
  background-color: #f9f9f9;
}

.catalog-links__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.catalog-links__list-item a {
  position: relative;
  display: block;

  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 30px;
  padding-right: 160px;

  color: $font-white;
  text-decoration: none;

  &:active {
    color: rgba($font-white, 0.3);
  }

  &::after {
    content: "";
    position: absolute;
    opacity: 0.5;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.catalog-links__list-item--interior-features a {
  background-color: $bg-light-aquamarine;

  &:hover {
    top: -5px;
    background-color: #59d5bc;
  }

  &::after {
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background: url("../img/icon-interior.svg") no-repeat 0 0;
  }
}

.catalog-links__list-item--interior-features {
  background-color: #59d5bc;
}

.catalog-links__list-item--toys a {
  background-color: $bg-dark-aquamarine;

  &:hover {
    top: -5px;
    background-color: #46c1ae;
  }

  &::after {
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    background: url("../img/icon-toy.svg") no-repeat 0 0;
  }
}

.catalog-links__list-item--toys {
  background-color: #46c1ae;
}


@media (max-width: $tablet-width - 1) {
  .catalog-links__list {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog-links {
    @include add-zigzag-to-bottom("../img/bg-zigzag-fill.svg", 22px);
  }

  .catalog-links__list {
    flex-direction: row;
  }

  .catalog-links__list-item {
    width: 50%;
  }

  .catalog-links__list-item a {
    padding-top: 28px;
    padding-left: 35px;
    padding-bottom: 42px;

    font-size: 20px;
    line-height: 30px;
  }

  .catalog-links__list-item--interior-features a::after {
    top: 30px;
  }

  .catalog-links__list-item--toys a::after {
    top: 31px;
    right: 33px;
  }
}


@media (min-width: $desktop-width) {
  .catalog-links {
    @include update-zigzag-height(34px);
  }

  .catalog-links__list-item a {
    padding-bottom: 48px;
    padding-right: 350px;
  }
}
