.comments__heading {
  font-size: 25px;
  line-height: 30px;
}

.comments__list {
  @include reset-list;
}

.comments__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.comments__author-nick {
  line-height: 30px;
  font-weight: 400;
}
