.comments__heading {
  font-size: 25px;
  line-height: 30px;
}

.comments__text {
  font-size: 15px;
  line-height: 30px;
}

.comments__author-name {
  font-size: 17px;
  line-height: 24px;
}

.comments__author-nick {
  font-size: 17px;
  line-height: 30px;
}
