.contacts {
  padding-top: 35px;
  padding-bottom: 39px;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 37px;
  font-size: 15px;
  line-height: 30px;
  color: $font-light-black;
  font-weight: 400;
}

.contacts__label {
  width: 77px;
  margin-bottom: 31px;
}

.contacts__text {
  margin: 0;
  width: calc(100% - 77px);
}

.contacts__mail-link {
  position: relative;
  text-decoration: none;
  color: $font-light-black;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #62d1ba;
  }

  &:hover {
    color: #46c1ae;

    &:after {
      background-color: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  display: block;

  margin-bottom: 39px;
  margin-left: -$mobile-container-padding;
  max-width: none;
  width: $mobile-width;
  height: 457px;
}

.contacts__map--image {
  display: none;
}

.contacts--nojs .contacts__map {
  display: none;
}

.contacts--nojs .contacts__map--image {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 62px;
    padding-bottom: 57px;
    background-image: url("/img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: right 53px top 46px;
  }

  .contacts__heading {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    margin-bottom: 56px;
    font-size: 17px;
  }

  .contacts__text {
    width: calc(100%/2 - 77px);
  }

  .contacts__map {
    margin-bottom: 55px;
    margin-left: -$tablet-container-padding;
    width: $tablet-width;
    height: 457px;
  }

  .contacts__write-to-us {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-top: 142px;
    padding-right: $desktop-width/2;
    padding-bottom: 105px;
    padding-left: 225px;
    background-position: left 113px top 132px;
  }

  .contacts__heading {
    margin-bottom: 48px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    margin-bottom: 78px;
  }

  .contacts__text {
    width: calc(350px - 77px);
  }

  .contacts__map {
    position: absolute;
    top: 71px;
    right: $desktop-container-padding;
    width: 525px;
    height: 457px;
  }

  .contacts__write-to-us {
    margin-left: 0;
  }
}
