.contacts {
  padding-top: 35px;
  padding-bottom: 39px;
}

.contacts__heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__list {
  @include reset-list;
  margin-bottom: 34px;
  font-size: 15px;
  line-height: 30px;
  color: $font-light-black;
  font-weight: 400;
}

.contacts__map {
  display: block;

  margin-bottom: 39px;
  margin-left: -$mobile-container-padding;
  max-width: none;
  width: $mobile-width;
  height: 457px;
}

.contacts__map--image {
  display: none;
}

.contacts--nojs .contacts__map {
  display: none;
}

.contacts--nojs .contacts__map--image {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 67px;
    padding-bottom: 57px;
  }

  .contacts__heading {
    margin-bottom: 45px;
  }

  .contacts__list {
    margin-bottom: 50px;
  }

  .contacts__map {
    margin-bottom: 55px;
    margin-left: -$tablet-container-padding;
    width: $tablet-width;
    height: 457px;
  }

  .contacts__write-to-us {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    padding-top: 148px;
    padding-bottom: 105px;
    padding-left: 225px;
  }

  .contacts__heading {
    margin-bottom: 43px;
  }

  .contacts__list {
    margin-bottom: 75px;
  }

  .contacts__map {
    position: absolute;
    top: 68px;
    right: $desktop-container-padding;
    width: 525px;
    height: 457px;
  }

  .contacts__write-to-us {
    margin-left: 0;
  }
}
