.field-set {
  margin: 0;
  padding: 0;
  border: none;
}

.field-set__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 26px;
  line-height: 16px;
  color: $font-light-aquamarine;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 198px;
    background-color: #62d1ba;
  }
}

.field-set__content {
  display: flex;
  flex-direction: column;
  @include reset-list;
}

.field-set__option {
  margin-bottom: 22px;
}

.field-set__label {
  margin-top: 3px;
}

.field-set__input-text {
  margin-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .field-set--color {
    padding-top: 50px;
    padding-bottom: 28px;
  }

  .field-set--color .field-set__content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .field-set--color .field-set__option {
    width: 240px;
  }

  .field-set--bg-gray {
    background-color: $bg-light-gray;
  }

  .field-set__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .field-set__legend {
    width: 80px;
    margin: 0;
    margin-top: 19px;

    &::after {
      content: none;
    }
  }

  .field-set__content {
    width: 501px;
  }

  .field-set__option {
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .field-set__legend {
    margin-left: 62px;
  }

  .field-set__content {
    width: 700px;
    margin-right: 175px;
  }




  .field-set--color .field-set__content {
    justify-content: flex-start;
    width: 875px;
    margin-right: 0;
  }

  .field-set--color .field-set__option {
    width: 262px;
  }
}
