.field-set {
  margin: 0;
  padding: 0;
  border: none;
}

.field-set__legend {
  margin-bottom: 20px;
  line-height: 16px;
  color: $font-light-aquamarine;
  text-transform: uppercase;
}

.field-set__content {
  @include reset-list;
}

@media (min-width: $tablet-width) {
  .field-set {
    padding: 50px 0;
  }

  .field-set--bg-gray {
    background: $bg-light-gray;
  }

  .field-set__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .field-set__legend {
    width: 80px;
    margin: 0;
    margin-top: 20px;
  }

  .field-set__content {
    width: 501px;
  }
}

@media (min-width: $desktop-width) {
  .field-set__legend {
    margin-left: 62px;
  }

  .field-set__content {
    width: 700px;
    margin-right: 175px;
  }

  .field-set__content--color {
    width: 875px;
    margin-right: 0;
  }
}
