.footer {
  background-color: $bg-light-gray;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer__logo {
  display: none;
}


.footer__social {
  margin: 25px auto;
}

.footer__copyright {
  margin: 22px auto;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    min-height: 143px;
  }

  .footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin: auto 159px auto 0;
  }

  .footer__social {
    margin: 0;
    margin-right: auto;
  }

  .footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__logo {
    margin-right: 349px;
  }
}
