.form__description {
  font-size: 13px;
  color: $font-light-black;
  font-weight: 400;
}

.form__field-set {
  padding: 0;
  margin: 0;
  border: none;
}

.form__legend {
  line-height: 16px;
  color: $font-light-aquamarine;
  text-transform: uppercase;
}

.form__option-list {
  @include reset-list;
}

.form__footnote {
  font-size: 14px;
  line-height: 16px;
  color: $font-light-black;
  font-weight: 400;
}
