.form {
  padding-top: 22px;
  padding-bottom: 55px;
}

.form__description {
  margin-bottom: 24px;
  font-size: 13px;
  color: $font-light-black;
  font-weight: 400;
}

.form__field-set-type {
  margin-bottom: 8px;
}

.form__field-set-color {
  margin-bottom: 9px;
}

.form__field-set-full-name {
  margin-bottom: 12px;
}

.form__field-set-tel {
  margin-bottom: 12px;
}

.form__field-set-email {
  margin-bottom: 13px;
}

.form__footnote {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $font-light-black;
  font-weight: 400;
}

.form__field-set-info {
  margin-bottom: 15px;
}

.form__submit-button {
  width: $mobile-width - 2*$mobile-container-padding;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .form__description {
    margin-bottom: 55px;

    font-size: 17px;
    line-height: 30px;
  }

  .form__field-set-type {
    margin-bottom: 26px;
  }

  .form__field-set-color {
    margin-bottom: 45px;
  }

  .form__field-set-full-name {
    margin-bottom: 31px;
  }

  .form__field-set-tel {
    margin-bottom: 0;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .form__footnote {
    width: 310px;
    margin: 0;
    text-align: right;
  }

  .form__submit-button {
    width: 230px;
  }
}

@media (min-width: $tablet-width) {

  .form__field-set-email {
    margin-bottom: 50px;
  }

}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 106px;
  }

  .form__description {
    padding: 0 $desktop-container-padding + 175px;
  }

  .form__footer {
    padding: 0 225px;
  }
}
