.main-nav {
  display: flex;
  flex-direction: column;
  /* Временно для сетки */
  min-height: 395px;
}

.main-nav__logo {
  width: 86px;
  height: 35px;
  margin: 21px auto;
}

.main-nav__site-list {
  @include reset-list;
  /* Временно для сетки */
  min-height: 158px;
}

.main-nav__func-list {
  @include reset-list;
  /* Временно для сетки */
  min-height: 158px;
}

.main-nav__extra-site-list {
  @include reset-list;
  font-size: 15px;
  display: none;
}

.main-nav__free-delivery {
  font-size: 15px;
  font-weight: 400;
  display: none;
}


@media(max-width: $tablet-width - 1) {
  .main-nav {
    width: $mobile-width;
    padding: 0;
  }

  .main-nav__logo {
    border-top: 1px solid #f5f5f5;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* Временно для сетки */
    min-height: 150px;
  }

  .main-nav__logo {
    width: 112px;
    height: 46px;
    margin: 0;
    margin-right: auto;
  }

  .main-nav__func-list {
    order: 1;
    width: 348px;
    /* Временно для сетки */
    min-height: 88px;
  }

  .main-nav__site-list {
    order: 2;
    width: 320px;
    margin-right: auto;
    /* Временно для сетки */
    min-height: 62px;
  }

  .main-nav__free-delivery {
    display: block;
    order: 4;
    width: 260px;
    /* Временно для сетки */
    min-height: 62px;
  }
}


@media (min-width: $desktop-width) {
  .main-nav__site-list {
    order: 0;
    width: 410px;
    margin-right: 40px;
    /* Временно для сетки */
    min-height: 88px;
  }

  .main-nav__logo {
    order: 1;
    width: 149px;
    height: 72px;
  }

  .main-nav__func-list {
    order: 2;
  }

  .main-nav__extra-site-list {
    display: block;
    width: 410px;
    order: 3;
    margin-right: auto;
    /* Временно для сетки */
    min-height: 62px;
  }
}
