.page {
  min-width: $mobile-width;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: $font-dark-black;
  font-weight: 700;
  font-style: normal;

  background-color: $bg-white;
}

.page__main-heading {
  margin: 0;
  border-top: 1px solid #f9f9f9;
  padding-top: 70px;
  padding-bottom: 122px;
  padding-left: calc(50% - #{$mobile-width/2 - $mobile-container-padding});
  padding-right: calc(50% - #{$mobile-width/2- $mobile-container-padding});

  text-align: center;
  font-size: 27px;
  line-height: 30px;

  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;
  background-size: 575px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}


.page--inner .page__main-heading {
  background: none;
  background-color: #f1f1f1;
  padding-bottom: 76px;
}

.page__production-process {
  margin-bottom: 58px;
}


@media (min-width: $tablet-width) {
  .page__header {
    position: relative;
    z-index: 2;
    margin-bottom: -61px;
  }

  .page__production-process {
    margin-bottom: 63px;
  }

  .page__main-heading {
    padding-top: 154px;
    padding-bottom: 373px;
    padding-left: calc(50% - #{$tablet-width/2 - $tablet-container-padding});
    padding-right: calc(50% - #{$tablet-width/2 - $tablet-container-padding});

    font-size: 43px;
    line-height: 50px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    background-size: 1150px auto;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .page--inner .page__main-heading {
    padding-top: 94px;
    padding-bottom: 94px;

    @include add-zigzag-to-bottom("../img/bg-zigzag-fill.svg", 22px);
  }

}


@media (min-width: $desktop-width) {
  .page__main-heading {
    padding-top: 155px;
    padding-bottom: 358px;
    padding-left: calc(50% - #{$desktop-width/2 - 225px});
    padding-right: calc(50% - #{$desktop-width/2 - 225px});

    font-size: 53px;
    line-height: 57px;

    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .page--inner .page__main-heading {
    padding-bottom: 120px;

    @include update-zigzag-height(34px);
  }

  .page__production-process {
    margin-bottom: 105px;
  }
}
