.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.product-card__image-link {
  margin: -1px;
  margin-bottom: 0;
}

.product-card__image {
  display: block;
  width: 260px;
  height: 195px;
}

.product-card__wrapper {
  order: 2;
  padding: 27px;
}

.product-card__heading-link {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: $font-dark-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__heading {
  margin: 0;
  font-size: 17px;
}

.product-card__description {
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $font-light-black;
}

.product-card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;


  padding-top: 21px;
  font-size: 15px;
  border-top: 1px solid #ececec;
}

.product-card__order-icon {
  display: block;
  width: 21px;
  height: 18px;

  opacity: 0.2;

  path {
    fill: #000000;
  }
}


.product-card__order-button {
  &:hover .product-card__order-icon {
    opacity: 1;

    path {
      fill: #63d1bb;
    }
  }

  &:active .product-card__order-icon {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 316px;
  }
}
