.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
}

.product-card__image-link {
  margin: -1px;
  margin-bottom: 0;
}

.product-card__image {
  display: block;
  width: 260px;
  height: 195px;
}

.product-card__wrapper {
  order: 2;
  padding: 27px;
}

.product-card__heading-link {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: $font-dark-black;
}

.product-card__heading {
  margin: 0;
  font-size: 17px;
}

.product-card__description {
  margin: 0;
  margin-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $font-light-black;
}

.product-card__price {
  display: flex;


  padding-top: 21px;
  font-size: 15px;
  border-top: 1px solid #ececec;
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 316px;
  }
}
