.production-process__heading {
  font-size: 17px;
  line-height: 24px;
}

.production-process__description {
  font-size: 13px;
  line-height: 24px;
}

.production-process__basket {
  font-size: 17px;
  line-height: 16px;
}
