.social {
  width: 140px;
}

.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link:active {
  opacity: 0.3;
}


.social__icon {
  display: block;
  fill: #000000;


  &:hover {
    fill: #46c1ae;
  }
}

.social__icon--instagram {
  width: 22px;
  height: 21px;
}

.social__icon--facebook {
  width: 15px;
  height: 28px;
}

.social__icon--twitter {
  width: 23px;
  height: 20px;
}
