.week-product {
  color: $font-light-black;
}

.week-product__heading {
  line-height: 20px;
  color: $font-light-aquamarine;
}

.week-product__name {
  font-size: 25px;
  line-height: 30px;
}

.week-product__description {
  font-size: 15px;
}

.week-product__features {
  font-size: 15px;
  line-height: 20px;
}
