.week-product {
  color: $secondary-font-color;
}

.week-product__heading {
  line-height: 20px;
  color: #63d1bb;
}

.week-product__name {
  font-size: 25px;
  line-height: 30px;
}

.week-product__description {
  font-size: 15px;
}

.week-product__features {
  font-size: 15px;
  line-height: 20px;
}
