@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin no-outline {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}

@mixin add-zigzag-to-bottom($url, $height) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height;
    background-image: url($url);
    background-repeat: repeat-x;
    background-size: auto $height;
  }
}

@mixin update-zigzag-height($height) {
  &::after {
    height: $height;
    background-size: auto $height;
  }
}

@mixin update-zigzag($height, $padding) {
  &::after {
    left: $padding;
    right: $padding;
    height: $height;
    background-size: auto $height;
  }
}


@mixin visually-hide() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
