body {
  background: url("../img/mishka-index-mobile.png") no-repeat 50% 0;
  min-height: 4248px;
}


@media (min-width: $tablet-width) {
  body {
    background: url("../img/mishka-index-tablet.png") no-repeat 50% 0;
    min-height: 3710px;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: url("../img/mishka-index-desktop.png") no-repeat 50% 0;
    min-height: 3623px;
  }
}
