img {
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
  box-sizing: border-box;

  padding: 0;
  border: 2px solid #828282;

  font-size: 17px;
  line-height: 20px;
  color: $font-light-black;
  text-transform: uppercase;
  text-align: center;
  /* Временно для сетки */
  min-height: 52px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
