$font-dark-black: #000000;
$font-light-black:#444444;
$font-white: #ffffff;
$font-light-aquamarine: #63d1bb;

$bg-white: #ffffff;
$bg-light-aquamarine: #63d1bb;
$bg-dark-aquamarine: #56c3b2;
$bg-light-gray:#f1f1f1;

$tablet-width: 768px;
$desktop-width: 1150px;
